@use "../tokens/tokens";

.inf {
  &__list-group {
    &__date {
      color: tokens.$color-primary-500;
    }
  }
}

.active {
  .inf {
    &__list-group {
      &__date {
        color: tokens.$color-white;
      }
    }
  }

  .badge {
    color: tokens.$color-primary-500;
  }
}
