@use "../tokens/tokens";

.navbar {
  justify-content: unset;
  padding: 15px 0;
  padding: 0;

  .ifx__mobile-show {
    @media (min-width: 992px) { 
      display: none;
    }
  }

  .ifx__desktop-show {
    display: none;

    @media (min-width: 992px) { 
      display: flex;
      flex-wrap: wrap;
    }
  }

  & > div:first-child {
    padding: 15px 0;
  }

  .navbar-brand {
    margin-right: 16px;
    padding: 0;

    & img {
      width: 95px;
      height: 40px;
    }
  }

  & .navbar-toggler {
    border: none;
    color: transparent;
    padding: 0;
    margin-right: 24px;

    .navbar-toggler-icon {
      width: 21px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%231D1D1D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  & .navbar-collapse {
    padding-top: 24px;
    padding-bottom: 32px;

    @media (min-width: 992px) { 
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  & .input-group {
    width: 182px;
  }

  & .ifx__nav-link-wrapper {
    padding-top: 16px;

    @media (min-width: 992px) {
      margin-left: 40px;
      padding-top: 0;
    }

    & .nav-link + .nav-link {
      margin-top: 8px;

      @media (min-width: 992px) {
        margin-top: 0;
        margin-left: 24px;
      }
    }

    & .nav-item.dropdown {
      margin-top: 8px;

      @media (min-width: 992px) {
        margin-top: 0;
        margin-left: 24px;
      }
    }
  }

  & .nav-link {
    display: block;
    padding: 0;
    font-weight: 400;
    color: tokens.$color-black;

    &:hover {
      font-weight: 600;
      color: tokens.$color-secondary-400;    
    }

    &::after { 
      display: block;
      content: attr(data-text);
      font-weight: 600;
      visibility: hidden;
      overflow: hidden;
      height: 0px;
      margin-left: 0;
    }

    & svg {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  & .ifx__nav-metalink-wrapper {
    margin-left: 16px;

    & .nav-link + .nav-link {
      margin-left: 16px;
    }
  }
}

.ifx {
  &__application-name {
    font-size: 20px;
    color: tokens.$color-black;
    margin: 0;
  }
}

.ifx__navbar-extended {
  & .navbar > div:first-child {
    @media (min-width: 992px) {
      padding: 24px 0 11px 0;
    }
  }

  .navbar-expand-lg {
    flex-wrap: wrap;
  }

  .navbar-brand {
    & img {
      @media (min-width: 992px) {
        width: 110px;
        height: 48px;
      }
    }
  }

  & .input-group {
    @media (min-width: 992px) {
      width: 272px;
      margin-left: 24px;
    }
  }

  .navbar-expand-lg .navbar-collapse {
    @media (min-width: 992px) {
      display: flow-root !important;
    }
  }

  & .ifx__nav-link-wrapper {
    @media (min-width: 992px) {
      margin-left: 0;
    }
  }

  & .ifx__nav-link-wrapper.ifx__desktop-show {
    margin-left: 126px;
    padding-bottom: 8px;
  }

  .ifx__nav-link-wrapper a:hover {
    + .ifx__nav-mega-dropdown {
      display: block;
    }
  }

  .ifx__nav-mega-dropdown {
    display: none;
    padding: 56px 60px;
    border-top: 2px solid tokens.$color-secondary-400;

    a:hover {
      svg {
        color: tokens.$color-secondary-400;
      }
    }

    a + a {
      margin-top: 8px;
    }

    a div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    svg {
      color: tokens.$color-info-300;
    }
  }
}

.ifx__vertical-nav-icons-wrapper {
  position: relative;
  display: inline-block;

  & .ifx__vertical-nav-icons-btn {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: -1px;
    padding: 0 !important;
  }

  & .ifx__content-nav__border {
    display: inline-flex;
    border-right: 2px solid tokens.$color-info-300;
    padding-top: 30px;
    padding-bottom: 30px;

    & .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 25px 0 16px;
      padding: 0;
      width: 24px;
      height: 24px;
      color: tokens.$color-black;

      &:hover {
        color: tokens.$color-white;
        background-color: tokens.$color-secondary-400;  
      }

      &:active {
        background-color: tokens.$color-secondary-600;
      }
    }
  }

  & .ifx__content-nav__divider {
    color: tokens.$color-secondary-500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
