@use "../tokens/tokens";

.navbar {
  & img {
    width: 60px;

    @media (min-width: 576px) { 
      width: 94px;
    } 
  }

  & .navbar-toggler {
    border: none;
    color: transparent;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%231D1D1D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  & .input-group {
    width: 200px;
  }

  & .nav-link {
    font-size: 13px;
    display: inline;
    color: tokens.$color-black;

    & svg {
      width: 15px;
      height: 15px;
      margin-left: 4px;
      vertical-align: -3px;
    }
  }
}

.inf {
  &__application-name {
    font-size: 20px;
    color: tokens.$color-black;
    margin: 0;
  }
}

.inf__vertical-nav-icons-wrapper {
  position: relative;
  display: inline-block;

  & .inf__vertical-nav-icons-btn {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: -1px;
    padding: 0 !important;
  }

  & .inf__content-nav__border {
    display: inline-flex;
    border-right: 2px solid tokens.$color-info-300;
    padding-top: 30px;
    padding-bottom: 30px;

    & .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 25px 0 16px;
      padding: 0;
      width: 24px;
      height: 24px;
      color: tokens.$color-black;

      &:hover {
        color: tokens.$color-white;
        background-color: tokens.$color-secondary-400;  
      }

      &:active {
        background-color: tokens.$color-secondary-600;
      }
    }
  }

  & .inf__content-nav__divider {
    color: tokens.$color-secondary-500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
