@use "../tokens/tokens";

.breadcrumb {
  font-size: tokens.$font-size-s;
}

.breadcrumb-item a {
  text-decoration: none;
  color: tokens.$color-black;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 21px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: tokens.$color-info-300;
  padding-right: 21px;
}
