@use "../tokens/tokens";

a {
  font-weight: 600;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    display: inline-block;
    color: tokens.$color-secondary-600 !important;
    background-color: #B4DDD8;
    padding: 0 4px;
    margin-left: -4px;

    & svg {
      color: tokens.$color-secondary-600;
    }
  }

  &:hover {
    color: tokens.$color-secondary-400 !important;

    & svg {
      color: tokens.$color-secondary-400;
    }
  }

  > svg {
    width: 16px;
    height: 16px;
  }

  & .ifx {
    &__link-icon--before {
      margin-right: 8px;
    }

    &__link-icon--after {
      margin-left: 8px;
    }
  }
}

.ifx {  
  &__link-underline {
    text-decoration: underline;
  }
}
