@use "../tokens/tokens";

.inf {
  &__thead {
    &__background-color {
      background-color: tokens.$color-primary-500;
    }
  }
} 

table {
  border-top: 1px solid #e6e9e8 !important;
}

.table > :not(:first-child) {
  border-top: none;
}
