@use "../tokens/tokens";

.ifx {
  &__thead {    
    &__background-color {
      background-color: tokens.$color-secondary-500;
      color: tokens.$color-white;
    }
  }
} 

table {
  border-top: 1px solid #e6e9e8 !important;
}

.table > :not(:first-child) {
  border-top: none;
}

.table > :not(caption) > * > * {
  padding: 9px 38px;
}

.table-sm > :not(caption) > * > * {
  padding: 6px 38px;
}

th {
  width: 25%;
}
