@use "../tokens/tokens";

.btn {
  font-weight: 600;
  border-radius: 1px;
  font-weight: 600;
  padding: 9px 32px;

  &:focus {
    box-shadow: none;
  }

  &:disabled, &.disabled {
    opacity: 1;
    background-color: tokens.$color-info-400;
    border-color: tokens.$color-info-400;
    color: tokens.$color-white;
  }

  &.btn-primary {
    &:focus {
      background-color: tokens.$color-primary-500;
      border-color: tokens.$color-primary-500;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: tokens.$color-primary-600;
      box-shadow: 0 0 0 2px tokens.$color-primary-400;
    }

    &:hover {
      background-color: tokens.$color-primary-400;
      border-color: tokens.$color-primary-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;  
    }
  }

  &.btn-outline-primary {
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px tokens.$color-primary-400;
    }

    &:hover {
      background-color: tokens.$color-primary-400;
      border-color: tokens.$color-primary-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;  
    }
  }

  &.btn-secondary {
    &:focus {
      background-color: tokens.$color-secondary-500;
      border-color: tokens.$color-secondary-500;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: tokens.$color-secondary-600;
      box-shadow: 0 0 0 2px tokens.$color-secondary-400;
    }

    &:hover {
      background-color: tokens.$color-secondary-400;
      border-color: tokens.$color-secondary-400;
    }

    &:active, &.active {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;  
    }
  }

  &.btn-outline-secondary {
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px tokens.$color-secondary-400;
    }

    &:hover {
      background-color: tokens.$color-secondary-400;
      border-color: tokens.$color-secondary-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;  
    }
  }

  &.btn-success {
    &:focus {
      background-color: tokens.$color-success-500;
      border-color: tokens.$color-success-500;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: tokens.$color-success-600;
      box-shadow: 0 0 0 2px tokens.$color-success-400;
    }

    &:hover {
      background-color: tokens.$color-success-400;
      border-color: tokens.$color-success-400;
    }

    &:active, &.active {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;
    }
  }

  &.btn-outline-success {
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px tokens.$color-success-400;
    }

    &:hover {
      background-color: tokens.$color-success-400;
      border-color: tokens.$color-success-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;  
    }
  }
  
  &.btn-danger {
    &:focus {
      background-color: tokens.$color-danger-500;
      border-color: tokens.$color-danger-500;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: tokens.$color-danger-600;
      box-shadow: 0 0 0 2px tokens.$color-danger-400;
    }

    &:hover {
      background-color: tokens.$color-danger-400;
      border-color: tokens.$color-danger-400;
    }

    &:active, &.active {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;
    }
  }

  &.btn-outline-danger {
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px tokens.$color-danger-400;
    }

    &:hover {
      background-color: tokens.$color-danger-400;
      border-color: tokens.$color-danger-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;  
    }
  }

  &.btn-warning{
    &:focus {
      background-color: tokens.$color-warning-500;
      border-color: tokens.$color-warning-500;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: tokens.$color-warning-600;
      box-shadow: 0 0 0 2px tokens.$color-warning-400;
    }
    
    &:hover {
      background-color: tokens.$color-warning-400;
      border-color: tokens.$color-warning-400;
    }

    &:active, &.active {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;
    }
  }

  &.btn-outline-warning {
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px tokens.$color-warning-400;
    }

    &:hover {
      background-color: tokens.$color-warning-400;
      border-color: tokens.$color-warning-400;  
    }

    &:active, &.active {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;  
    }
  }

  & .svg-inline--fa.fa-w-16 {
    width: 12px;
    height: 12px;
  }

  & .btn-badge {
    font-size: 13px;
    font-weight: 400;
    padding: 3.5px 5.5px 1.5px 5.5px;
    min-width: 18px;
    min-height: 18px;
    margin-left: 12px;
    color: tokens.$color-black;
  }

  & .spinner-border, .spinner-grow {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    color: tokens.$color-white;
  }
}

.btn-lg {
  font-size: 20px;
}

.inf {
  &__btn-icon {
    &--before {
      margin-right: 5px;
    }

    &--after {
      margin-left: 5px;
    }
  }
}
