@use "sass:color";

$color-primary: #9bc3b7;
$color-secondary: #928285;
$color-terciary: #644f54;
$color-grey: #f5f5f7;
$color-black: color.mix($color-primary, black, 40%);
$color-success: #8dc63f;
$color-info: #3ca8ff;
$color-warning: #ffc103;
$color-error: #e60201;

:root {
  --color-primary-r: #{color.red($color-primary)};
  --color-primary-g: #{color.green($color-primary)};
  --color-primary-b: #{color.blue($color-primary)};

  --color-secondary-r: #{color.red($color-secondary)};
  --color-secondary-g: #{color.green($color-secondary)};
  --color-secondary-b: #{color.blue($color-secondary)};

  --color-terciary-r: #{color.red($color-terciary)};
  --color-terciary-g: #{color.green($color-terciary)};
  --color-terciary-b: #{color.blue($color-terciary)};

  --color-grey-r: #{color.red($color-grey)};
  --color-grey-g: #{color.green($color-grey)};
  --color-grey-b: #{color.blue($color-grey)};

  --color-white-r: 255;
  --color-white-g: 255;
  --color-white-b: 255;

  --color-black-r: #{color.red($color-black)};
  --color-black-g: #{color.green($color-black)};
  --color-black-b: #{color.blue($color-black)};

  /*!
   * @tokens Colors: Brand
   * @presenter Color
   */
  --color-primary: rgb(
    var(--color-primary-r),
    var(--color-primary-g),
    var(--color-primary-b)
  );
  --color-secondary: rgb(
    var(--color-secondary-r),
    var(--color-secondary-g),
    var(--color-secondary-b)
  );

  --color-terciary: rgb(
    var(--color-terciary-r),
    var(--color-terciary-g),
    var(--color-terciary-b)
  );

  --color-grey: rgb(
    var(--color-grey-r),
    var(--color-grey-g),
    var(--color-grey-b)
  );

  /*!
   * @tokens Colors: Semantic
   * @presenter Color
   */
  --color-info: $color-info;
  --color-success: $color-success;
  --color-warning: $color-warning;
  --color-error: $color-error;
}
