// @font-face {
//   font-family: "…";
//   font-style: …;
//   font-weight: …;
//   src: url("fonts/source-sans-pro-v18-latin/[filename].woff2") format("woff2");
// }

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-600.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/source-sans-pro-v18-latin/source-sans-pro-v18-latin-700.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
