@use "../tokens/tokens";

.ifx {
  &__bulletpoints {
    &.row > * {
      padding-right: 15px;
      padding-left: 15px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      .col-md-3, .col-md-4, .col-md-6 {
        margin-bottom: 0;
      }
    }

    h5 {
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 8px;
    }

    .svg-inline--fa.fa-w-14 {
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
      vertical-align: -0.5em;
    }

    p {
      margin-bottom: 0;
    }
  }
}
