@use "sass:math";
@use "./tokens/tokens";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Color system
$primary: tokens.$color-primary;
$secondary: tokens.$color-secondary;

$white: tokens.$color-white;
$black: tokens.$color-black;

$gray-100: tokens.$color-gray-1;
$gray-200: tokens.$color-gray-2;
$gray-300: tokens.$color-gray-3;
$gray-400: tokens.$color-gray-4;
$gray-500: tokens.$color-gray-5;
$gray-600: tokens.$color-gray-6;
$gray-700: tokens.$color-gray-7;
$gray-800: tokens.$color-gray-8;
$gray-900: tokens.$color-gray-9;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: tokens.$color-error;
$orange: #fd7e14;
$yellow: tokens.$color-warning;
$green: tokens.$color-success;
$teal: tokens.$color-primary;
$cyan: tokens.$color-info;

$min-contrast-ratio: 3.5;

// Options
$enable-shadows: true;

// Links
$link-color: tokens.$color-terciary;

// Typography
$font-family-sans-serif: tokens.$font-family-copy;
$font-family-monospace: tokens.$font-family-mono;

$font-size-base: tokens.$font-size-s;
$font-size-sm: tokens.$font-size-xs;
$font-size-lg: tokens.$font-size-m;

$font-weight-light: tokens.$font-weight-light;
$font-weight-normal: tokens.$font-weight-regular;
$font-weight-bold: tokens.$font-weight-bold;

$line-height-base: math.div(tokens.$line-height-s, tokens.$font-size-s);
$line-height-sm: math.div(tokens.$line-height-xs, tokens.$font-size-xs);
$line-height-lg: math.div(tokens.$line-height-m, tokens.$font-size-m);

$h1-font-size: tokens.$font-size-xxl;
$h2-font-size: tokens.$font-size-xl;
$h3-font-size: tokens.$font-size-l;
$h4-font-size: tokens.$font-size-m;
$h5-font-size: tokens.$font-size-m;
$h6-font-size: tokens.$font-size-s;

$headings-font-family: tokens.$font-family-heading;

// Cards
$card-box-shadow: tokens.$teaser-box-shadow;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/transitions";
// @import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/offcanvas";
// @import "../node_modules/bootstrap/scss/placeholders";

@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// 5. Add additional custom code here
@import "./button/button";
