@use "../tokens/tokens";

.inf {
  &__paragraph {
    h3 {
      font-size: 36px;
      line-height: 46px;
      font-weight: 600;
    }
  }

  &__paragraph-horizontal {
    & .inf__aspect-ratio {
      &__box-wrapper {
        max-width: 320px;
        width: 100%;
        margin-left: 1rem;
      }

      &__box {
        position: relative;
        height: 0;

        &__in {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      &--4-3 {
        padding-bottom: 75%;
      }

      &--16-9 {
        padding-bottom: 56.25%;
      }

      &--1-1 {
        padding-bottom: 100%;
      }
    }

    h3 {
      margin-bottom: 5px;

      @media (min-width: 768px) { 
        margin-bottom: 8px;
      } 
    }
  }

  
  &__paragraph-vertical {
    &__img {
      width: 100%;
      height: 139px;

      & + div {
        margin-top: 13px !important;

        @media (min-width: 768px) { 
          margin-top: 28px !important;
        } 
      }
    }

    div + .inf__paragraph-vertical__img {
      margin-top: 16px !important;
    }

    &__columns {
      column-count: 1;
      column-gap: 24px;
  
      @media (min-width: 768px) { 
        column-count: 2;
      } 
    }

    &__text-centered {
      & .row {
        justify-content: center;
      }
    }

    h3 {
      margin: 0 40px 24px 40px;

      @media (min-width: 768px) { 
        margin: 0 14px 8px 14px;
      } 
    }

    p {
      font-size: 16px;
      line-height: 31px;
      margin: 0 40px 0 40px;

      @media (min-width: 768px) { 
        font-size: 22px;
        line-height: 40px;
        margin: 0 14px 0 14px;
      } 
    }
  }
}
