@use "../tokens/tokens";

.inf {
  &__aspect-ratio {
    &__box-wrapper {
      max-width: 320px;
      width: 100%;
      margin-left: 1rem;
    }

    &__box {
      position: relative;
      height: 0;

      &__in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--4-3 {
      padding-bottom: 75%;
    }

    &--16-9 {
      padding-bottom: 56.25%;
    }

    &--1-1 {
      padding-bottom: 100%;
    }
  }
}

.inf {
  &__paragraph {
    &__vertical {
      &__img {
        width: 100%;
      }
    }
  }
}
