@use "../tokens/tokens";

.badge {
  padding: 4px 12px;
  border-radius: 1px;
}

.bg-primary,
.bg-secondary,
.bg-danger {
  color: tokens.$color-white;
}

.bg-success,
.bg-warning,
.bg-white {
  color: tokens.$color-black;
}
